/* IMPORTAR VARIABLES LOCALES */

/* Variables - Colores */
$color-negro: #000000;
$color-blanco: #ffffff;

$color-primary: #001F3F;
$color-secondary: #55acee;
$color-boton: #333333;

/* Variable - Fuente */
$font-primary: "Poppins", sans-serif;

/* Variables - Tamaño Fuentes */
$fs-xxs: calc(1rem + 0.5vw);
$fs-xs: calc(1.5rem + 0.5vw);
$fs-s: calc(2rem + 0.5vw);
$fs-m: calc(2.5rem + 0.5vw);
$fs-xl: calc(3rem + 0.5vw);
$fs-xxl: calc(3.5rem + 0.5vw);

/* Variables - Grosor Fuentes */
$fw-bold: bold;
$fw-600: 600;
$fw-500: 500;
